<%- include('./partials/header', {title: 'Home'}) %> 
<br>
    <div class="p-3 mb-2 bg-dark text-white rounded text-center">
        <h3>Welcome to our library</h3>
        <br>
        <p>Newcomer? => <span><a href="/users/register">Click here to register</a></span></p>
        <p>Or if you already have an account => <span><a href="/users/login">Login</a></span></p>
    </div>
</body>
</html>